<footer class="navbar-fixed-bottom">
    <div class="container">
        <p class="pull-left">Made with love in #ciclohmmdz | Hackathon Mendoza 2016 | Hackathon Mackers</p>
        <p class="pull-right">
            <a ng-click="main.goTerms();">Terminos y condiciones</a> |
            <a href="//www.iubenda.com/privacy-policy/7871415" title="Privacy Policy" target="_blank">Privacy Policy</a>            |
            <a href="https://docs.google.com/document/d/1oEeq5o_OqVGFYHEahog9-CU9t7cZrQteQAVmNoc-k2A/pub" title="Quienes" target="_blank">Quienes Somos</a></p>
    </div>
</footer>