<rec-header></rec-header>

<main>
  <div class="container">
    <h3>Estás armando un recuerdo relacionado a FAMILIA</h3>
    <h4>Selecciona las fotografías que deseas agregar</h4>
  </div>
  <hr>
  <div class="container pics">

    <div class="row">
      <div ng-if="pics.status.is_sub_folder" class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a ng-click="pics.goBack();" class="thumbnail text-center"><span class="vertical-center glyphicon glyphicon-menu-left"></span></a>
      </div>

      <div ng-repeat="dir in pics.openedDir" ng-if="dir.supported" class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail {{dir.type}} {{dir.action}}" ng-click="pics.openOrAdd(dir);">
          <img class="img-responsive" ng-src="{{dir.thumbnailUrl}}" alt="">
          <span ng-if="dir.type == 'folder'">{{dir.path | noslash}}</span>
        </a>
      </div>
    </div>
  </div>

  <a ng-click="pics.save();" ng-if="pics.pictureList.length > 0" class="btn btn-save-fix btn-primary btn-block btn-lg">Guardar ({{pics.images_stats.selected}} imagenes)</a>
</main>

<div class="save-container" ng-if="pics.status.saving">
  <div class="container searching">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    <h2>{{pics.images_stats.processed}} / {{pics.images_stats.total}}</h2>
  </div>
</div>

<div class="success-container" ng-if="pics.status.success">
  <div class="container searching">
    <span class="glyphicon glyphicon-ok"></span>
    <h2>Terapia guardada con exito. Para visualizarla entra al siguiente link: </h2>
    <input type="text" ng-model="pics.status.link">
  </div>
</div>

<rec-footer></rec-footer>