<rec-header></rec-header>

<main>
  <div class="container">
    <h3>Estás armando un recuerdo relacionado a FAMILIA</h3>
    <h4>Selecciona las fotografías que deseas agregar</h4>
  </div>
  <hr>
  <a ng-click="pics.goBack();" ng-if="pics.status.is_sub_folder" class="btn btn-save-fix btn-simple btn-default btn-block btn-sm">../</a>
  <table class="table table-striped table-hover table-files">
    <thead>
      <tr>
        <th>Tipo de archivo</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr class="loading">
        <td ng-if="pics.status.loading" colSpan="2">
          <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
        </td>
      </tr>
      <tr ng-if="!pics.status.is_sub_folder" class="{{dir.action}} {{dir.type}}" ng-repeat="dir in pics.dirList" ng-click="pics.openOrAdd(dir);">
        <td>
          <span ng-class="{'glyphicon glyphicon-folder-close':dir.type=='folder','glyphicon glyphicon-file':dir.type=='file'}"></span></td>
        <td>{{dir.path}}</td>
      </tr>
      <tr ng-if="pics.status.is_sub_folder" class="{{dir.action}} {{dir.type}}" ng-repeat="dir in pics.openedDir" ng-click="pics.openOrAdd(dir);">
        <td>
          <span ng-class="{'glyphicon glyphicon-folder-close':dir.type=='folder','glyphicon glyphicon-file':dir.type=='file'}"></span>
        </td>
        <td>{{dir.path}}</td>
      </tr>
    </tbody>
  </table>
  <a ng-click="pics.save();" class="btn btn-save-fix btn-primary btn-block btn-lg">Guardar ({{pics.images_stats.selected}} imagenes)</a>
</main>

<div class="save-container" ng-if="pics.status.saving">
  <div class="container searching">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    <h2>{{pics.images_stats.processed}} / {{pics.images_stats.total}}</h2>
  </div>
</div>

<div class="success-container" ng-if="pics.status.success">
  <div class="container searching">
    <span class="glyphicon glyphicon-ok"></span>
    <h2>Terapia guardada con exito. Para visualizarla entra al siguiente link: </h2>
    <input type="text" ng-model="pics.status.link">
  </div>
</div>

<rec-footer></rec-footer>