<div class="home-template">
  <rec-header></rec-header>
  <main>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <img src="../assets/images/template-images.svg" alt="" class="template-img" />
          <h3 class="text-center">Bienvenido a REC Memory</h3>
          <h4 class="text-center">Seleccione el tipo de recuerdos con los que desea trabajar</h4>
          <p class="text-center">Las aplicaciones de realidad virtual son cada día más utilizadas para mejorar y ampliar el proceso de rehabilitación
            cognitiva.
          </p>
          <select class="form-control">
            <option>Viaje</option>
            <option>Celebración</option>
            <option>Cumpleaños</option>
            <option>Familia</option>
            <option>Pareja</option>
            <option>Amistad</option>
            <option>Vida cotidiana</option>
          </select>
          <a ng-click="template.goPics();" class="btn btn-primary btn-block btn-lg">Importar imágenes de Dropbox</a>
        </div>
      </div>
    </div>
  </main>

  <rec-footer></rec-footer>
</div>