// Reqmemory stylesheet
//
$white:          white;
$gray-dark:      #4c4c4c;
$gray:           #696969;

$blue-dark:      #140d52;
$blue:           #284E90;
$blue-light:     #5094C3;
$blue-lighter:   #A3BED4;


$border-radius-lg: 8px;

$text-color:       $gray;

.page-wrapper {
  height: 100%;
  min-height: 100%;
}

.home-body {
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 100%;
  .register-form {
    margin-top: 20%;
    background-color: rgba($white,0.85);
    border-radius: $border-radius-lg;
    .register-log {
      padding: 20px 25px 30px 25px;
    }
    .register-info {
      padding: 40px 30px 30px 30px;
    }
  }
  footer {
    background: $blue-light;
    color: $white;
    padding: 10px 0 0 0;
  }
}

.reqmemory {
  color: $text-color;
  h1,h2,h3 {
    color: $blue-light;
  }
  .btn-lg {
    font-size: 16px;
  }
  header {
    background-color: $blue-light;
    a {
      color: $white;
    }
  }
  .table {
    thead, tbody {
      th, td {
        padding-left: 60px;
      }
      th {
        border-bottom: 0;
        text-transform: uppercase;
      }
    }
  }
}

.reqmemory-header {
  background-color: $blue-light;
  a {
    color: $white;
  }
}



/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

#container {
  background-color: #000;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
