// Reqmemory stylesheet
//
$white:          white;
$gray-dark:      #4c4c4c;
$gray:           #696969;

$blue-dark:      #140d52;
$blue:           #284E90;
$blue-light:     #5094C3;
$blue-lighter:   #A3BED4;

$danger:         #d06363;

$border-radius-lg: 8px;

$text-color:       $gray;

.page-wrapper {
  height: 100%;
  min-height: 100%;
}

.home-body {
  background-image: url("../assets/images/background.png");
  background-size: cover;
  height: 100%;
  position: fixed;
  width: 100%;
  .register-form {
    margin-top: 22%;
    border-radius: $border-radius-lg;
    padding: 40px 30px;
    text-align: center;
    h2 {
      color: $white;
      margin-bottom: 20px;
      font-weight: light;
    }
    p {
      color: $white;
      font-size: 16px;
      line-height: 24px;
      font-weight: lighter;
    }
    h2, p {
      letter-spacing: 1.5px;
    }
    .btn {
      margin-top: 10px;
    }
  }
  footer {
    background-color: rgba($white,0.7);
    padding: 10px 0 0 0;
  }
}

.reqmemory {
  color: $text-color;
  h1,h2,h3 {
    color: $blue-light;
  }
  .btn-lg {
    font-size: 16px;
  }
  header {
    background-color: $blue-light;
    a {
      color: $white;
    }
  }
  .table {
    thead, tbody {
      th, td {
        &:first-of-type {
          padding-left: 60px;
        }
      }
      th {
        border-bottom: 0;
        text-transform: uppercase;
      }
      td {
        line-height: 22px;
      }
    }
  }
  .footer-inner {
    background-color: lighten($blue-lighter,14%);
    padding: 12px 0 2px 0;
  }
}

.reqmemory-header {
  background-color: $blue-light;
  a {
    color: $white;
  }
  .navbar-brand {
    padding: 0;
    &> img {
      display: inline-block;
      width: 50px;
      height: 50px;
    }
  }
  .nav > li > a:hover, .nav > li > a:focus,
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus,
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: darken($blue-light,10%);
    color: $white;
  }
  .dropdown-menu {
    padding: 0;
    &> li > a, &> li > a:hover, &> li > a:focus {
      padding: 10px 20px;
    }
    .divider {
      margin: 0;
    }
  }
}


/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

#container {
  background-color: #000;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
